---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <div class="grid place-items-center h-screen content-center">
			<Card>Tailwind Button in Astro!</Card>
		</div>
	</main>
</Layout>

